.car {
  width: 100%;
  height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}

.car1 {
  background-image: url("/images/roadster.jpg");
  background-size: cover;
}

.car2 {
  background-image: url("/images/cybertruck.jpg");
  background-size: cover;
}

.title {
  font-size: 60px;
  font-weight: 500;
  font-family: fantasy;

  margin-top: 3rem;

  background: -webkit-linear-gradient(#2193b0, #6dd5ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff; */

  text-transform: uppercase;
}

.description {
  width: 100%;

  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  align-items: center;
}

.specs {
  display: flex;
  color: #fff;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.larger {
  font-size: 40px;
}

.smaller {
  font-size: 20px;
  font-weight: 200;
  color: #cfcfcf;
}

.btn {
  margin-right: 1rem;
  height: fit-content;

  padding: 8px 12px;

  border-radius: 10px;

  box-shadow: none;
  border: none;

  font-size: small;
  background-color: #f3f3f3;
  color: rgb(0, 0, 0);

  transition: all 300ms ease-in;
}

.btn:hover {
  color: #fff;
  background-color: #000;
  transform: scale(1.1);
}
